{
  "CompileFlags": {
    "Add": [
      "-Wall",
      "-Wextra",
      "-Wpedantic",
      "-Wno-format",
      "-Wno-format-pedantic",
      "-Wno--Wempty-translation-unit",
      "-Wno-newline-eof",
      "-Wno-unused-parameter",
      "-std=c23",
    ]
  }
}