{
  "CompileFlags": {
    "Add": [
      "-Wall",
      "-Wextra",
      "-Wpedantic",
      "-Wno-format",
      "-Wno-format-pedantic",
      "-Wno-empty-translation-unit",
      "-std=c23",
    ]
  }
}